<ion-header [translucent]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header">
    <img src="../assets/Logo1.png" class="logoPrincipal">

    <h1 class="texto-grande">Consigue tu tarjeta de descuentos</h1>
    <h2 class="texto-mediano">Conoce los descuentos a los cuales puedes acceder</h2>
    <button class="boton-comenzar" [routerLink] = "['/home-user']">Comenzar</button>
    <a href="" class="boton-2">Conocer más</a>
    <br>
    <button class="botones-vacios" [routerLink] = "['/negocios']">Negocios</button>
    <button class="botones-vacios2" [routerLink] = "['/contactanos']">Contactanos</button>
  </div>
  <div class="body">
    
    <h1 class="titulo">TARJETA JUVENTUDES</h1>
    <h2 class="subtitulo">Conoce más de la tarjeta JuventuDES y accede a sus beneficios</h2>
    <h3 class="titulares-1">¿QUE ES?</h3>
    <div class="rectangulo-decorativo"></div>
    <p class="contenido-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae est malesuada,
      eleifend felis at, pharetra libero. Maecenas vel ligula eu ligula scelerisque iaculis.</p>
    <h3 class="titulares-2">¿QUE BENEFICIOS HAY?</h3>
    <div class="rectangulo-decorativo"></div>
    <p class="contenido-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae est malesuada,
      eleifend felis at, pharetra libero. Maecenas vel ligula eu ligula scelerisque iaculis.</p>
    <h3 class="titulares-3">¿COMO LA USO?</h3>
    <div class="rectangulo-decorativo"></div>
    <p class="contenido-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae est malesuada,
      eleifend felis at, pharetra libero. Maecenas vel ligula eu ligula scelerisque iaculis.</p>
    <img src="../assets/tarjeta.png" alt="Imagen de tarjeta de credito" class="imagen-lateral">
  </div>
</ion-content>