<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div id="fondo">
    <ion-img src="../assets/Logo1.png" id="logoPrincipal"></ion-img>

    <div>
      <ion-icon name="arrow-back-circle-outline" id="retroceder"></ion-icon>
      <h2 id="texto1">Registro de cuenta</h2>
      <h1 id="texto2">Ingresa algunos datos personales</h1>
  
      <form action="">
        <h1 id="textoNombre">Nombre</h1>
        <input type="text" id="inputNombre">
        <h1 id="textoApellidos">Apellido Paterno</h1>
        <input type="text" class="inputApellido" id="AP">
        <h1 id="textoApellidos">Apellido Materno</h1>
        <input type="text" class="inputApellido" id="AM">
        <h1 id="textoApellidos">Selecciona tu genero</h1>
        <ion-list>
          <ion-item>
            <ion-select aria-label="sexo" placeholder="Seleccionar">
              <ion-select-option value="apples">Masculino</ion-select-option>
              <ion-select-option value="oranges">Femenino</ion-select-option>
              <ion-select-option value="bananas">No especificar</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <div id="botonContador">
          <h2 id="contadorPasos">3/5</h2>
          <button [routerLink] = "['/registro4']">Siguiente</button>
        </div>


        <h1 id="sugerirCuenta">¿Ya tienes cuenta? <a href="" id="registrarse" [routerLink] = "['/home']">Inicia sesión</a></h1>
        <div id="redes">
          <ion-icon name="logo-twitter" size="large" id="twitter"></ion-icon>
          <ion-icon name="logo-facebook" size="large" id="fb"></ion-icon>
          <ion-icon name="logo-instagram" size="large" id="instagram"></ion-icon>
        </div>
        <h1 id="derechos">© Tarjeta JuventuDES - Instituto de la Juventud del estado de Chiapas</h1>
      </form>

      <ion-img src="../assets/Poligonos.png" id="poligonos"></ion-img>
    </div>
  </div>


</ion-content>
