<ion-header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="div-header">
    <button class="botones-superiores" [routerLink] = "['/home-main']">Inicio</button>
    <button class="botones-superiores"[routerLink] = "['/negocios']">Negocios</button>
    <h1 class="titulo-principal">Contáctanos</h1>
    <div class="barra-decorativa"></div>

    <h2 class="titulo-campo">Nombre</h2>
    <input type="text" class="entrada" id="entrada_nombre">
    <h2 class="titulo-campo">Correo electrónico</h2>
    <input type="email" class="entrada" id="entrada_email">
    <h2 class="titulo-campo">Teléfono</h2>
    <input type="tel" class="entrada" id="entrada_telefono">
    <h2 class="titulo-campo">Mensaje</h2>
    <!-- <input type="text" class="entrada" id="entrada_mensaje" placeholder="¿Que nos quieres comentar?"> -->
    <textarea name="mensaje" id="entrada_mensaje" cols="30" rows="10" class="entrada"></textarea>
    <button class="boton-enviar">Enviar</button>
  </div>


  <div id="redes">
    <ion-icon name="logo-twitter" size="large" id="twitter"></ion-icon>
    <ion-icon name="logo-facebook" size="large" id="fb"></ion-icon>
    <ion-icon name="logo-instagram" size="large" id="instagram"></ion-icon>
    <h1 id="derechos">© Tarjeta JuventuDES - Instituto de la Juventud del estado de Chiapas</h1>
    <br>
  </div>

</ion-content>
