<ion-header [translucent]="true">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,100&display=swap');
  </style>
</ion-header>

<ion-content [fullscreen]="true">
  <section>
    <img src="../assets/HeaderUser.png" alt="Poligonos superiores">
    <img src="../assets/Logo2.png" alt="Logo de juventudes" class="logo">
    <img src="../assets/icon_next.png" alt="Icono next" class="icon-next">
  </section>
  <h1>Negocios participantes</h1>
  <section>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15283.299918544957!2d-93.1077287!3d16.7355824!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1686155135350!5m2!1ses-419!2smx"
      width="330" height="400" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade" class="mapa"></iframe>
  </section>
  <section>
    <div class="dropdowns">
      <select name="categoria" id="categoria">
        <option value="1">Categoria</option>
        <option value="2">Opcion 2</option>
        <option value="3">Opcion 3</option>
      </select>
      <select name="estado" id="estado">
        <option value="1">Estado</option>
        <option value="2">Opcion 2</option>
        <option value="3">Opcion 3</option>
      </select>
      <select name="municipio" id="municipio">
        <option value="1">Municipio</option>
        <option value="2">Opcion 2</option>
        <option value="3">Opcion 3</option>
      </select>
    </div>
  </section>
  <div class="espacio"></div>
</ion-content>