<ion-header [translucent]="true">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
  </style>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="../assets/HeaderUser.png" alt="Poligonos de cabecera" srcset="">
  <section class="body">
    <img src="../assets/Logo2.png" alt="Logo de juventudes" class="logo" [routerLink] = "['/home-main']">
    <br>

<!--     <img src="../assets/icon_next.png" alt="Icono next" class="icon-next" for="activador">
    <input type="checkbox" id="activador"> -->

    <div class="menu-lateral-contenedor">
      <div class="elementos-menu">
        <nav>
          <div class="elemento">
            <div class="contenedor-imagen-menu">
              <img src="../assets/Home-icon.png" alt="home">
            </div>
            <h1 class="texto-opcion"> <a href="#">Inicio</a></h1>
          </div>
          <div class="elemento">
            <div class="contenedor-imagen-menu">
              <img src="../assets/icon-ambar.png" alt="Plaza ambar">
            </div>
            <h1 class="texto-opcion"> <a href="#">Ámbar</a></h1>
          </div>
          <div class="elemento" [routerLink] = "['/negocios']">
            <div class="contenedor-imagen-menu">
              <img src="../assets/icon-negocios.png" alt="Negocios">
            </div>
            <h1 class="texto-opcion"> <a href="#">Negocios</a></h1>
          </div>
          <div class="elemento">
            <div class="contenedor-imagen-menu">
              <img src="../assets/icon-logout.png" alt="Cerrar sesion">
            </div>
            <h1 class="texto-opcion"> <a href="#">Cerrar sesión</a></h1>
          </div>
        </nav>
      </div>
      <div class="informacion-descuentos">
        <h2 class="bien">Bienvenido</h2>
        <h2 class="usuario-texto" id="nombre_usuario2">Jaime Grimaldo</h2>
        <h2 class="puntos" id="descuentos_disponibles">54</h2>
        <h2 class="descuentos-disponibles">Descuentos disponibles</h2>
      </div>
    </div>

    <h1>Descuentos disponibles</h1>
    <div class="contenedor-de-cards">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://www.revistaneo.com/sites/default/files/2022-10/kfc-faxafeni.jpg" />
        <ion-card-header>
          <ion-card-title id="restaurante">KFC</ion-card-title>
          <ion-card-subtitle>Descuento de <p id="cantidad-descuento">10%</p></ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content id="localizacion">
          La localización de este establecimiento es en plaza ambar.
        </ion-card-content>
      </ion-card>
    </div>
    <br>
    <div class="contenedor-de-cards">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://www.mcdonalds.com.mx/uploads/Banner_Web_1423x623_1_dd1e6802a9.png" />
        <ion-card-header>
          <ion-card-title id="restaurante">MCDonald's</ion-card-title>
          <ion-card-subtitle>Descuento de <p id="cantidad-descuento">10%</p></ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content id="localizacion">
          La localización de este establecimiento es en plaza ambar.
        </ion-card-content>
      </ion-card>
    </div>
  </section>
  <br>
  <section class="panel-de-informacion">
    <div class="contenedorfinal">
      <h1>Información</h1>
      <h2 id="nombre_usuario">Jaime Eduardo Grimaldo Moreno</h2>
      <h3 id="fecha">14/08/2000</h3>
      <h3 id="estado">Tuxtla Gutierrez Chiapas</h3>
    </div>
    <button id="boton-editar" [routerLink] = "['/form-datos-personales1']">Editar</button>
  </section>

  <section class="footer">
    <div class="partefinal">
      <h1>Tarjeta JuventuDES</h1>
      <div class="pf2">
        <button class="boton-juventudes" [routerLink] = "['/mostrar-qr']">Mostrar código QR</button>
      </div>
    </div>
  </section>
</ion-content>