<ion-header [translucent]="true">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,100&display=swap');
  </style>
</ion-header>

<ion-content [fullscreen]="true">
  <section>
    <img src="../assets/HeaderUser.png" alt="Poligonos superiores">
    <img src="../assets/Logo2.png" alt="Logo de juventudes" class="logo">
    <img src="../assets/icon_next.png" alt="Icono next" class="icon-next">
  </section>

  <section>
    <h1>Datos personales</h1>
    <div class="datospersonales">
      <input type="text" placeholder="Nombre">
      <input type="text" placeholder="Apellido paterno" class="ap">
      <input type="text" placeholder="Apellido materno" class="
      ap">
      <select name="genero" id="id_genero">
        <option value="Masculino">Masculino</option>
        <option value="Femenino">Femenino</option>
        <option value="Otro">Otro</option>
      </select>
      <button>Actualizar</button>
    </div>
  </section>
  <br>
  <section>
    <h1>Datos de ubicación</h1>
    <div class="datospersonales">
      <input type="text" placeholder="Domicilio">
      <input type="text" placeholder="Estado" class="ap">
      <input type="text" placeholder="Municipio" class="
      ap">
      <button class="boton2">Actualizar</button>
    </div>
  </section>
  <br>
  <section>
    <h1>Cambiar la contraseña</h1>
    <div class="datospersonales">
      <input type="text" placeholder="Ingrese la contraseña actual">
      <button class="boton2">Siguiente</button>
    </div>
  </section>
  <br>
  <br>
  <br>
  <br>
</ion-content>
