<ion-header [translucent]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</ion-header>

<ion-content [fullscreen]="true">
  <div id="fondo">
    <ion-img src="../assets/Logo1.png" id="logoPrincipal"></ion-img>

    <div>
      <h2 id="texto1">Inicio de sesión</h2>
      <h1 id="texto2">Accede con tu cuenta</h1>
  
      <form action="">
        <div class="centrar-campos">
          <h1 id="textoCorreo">Correo</h1>
          <input type="email" id="inputEmail">
          <h1 id="textoPass">Contraseña</h1>
          <input type="password" id="inputPass">
        </div>
        <a href="">
          <h1 id="recuperar">¿Olvidaste tu contraseña?</h1>
        </a>
        <button [routerLink] = "['/home-main']">Acceder</button>

        <h1 id="sugerirCuenta">¿No tienes cuenta? <a href="" id="registrarse" [routerLink] = "['/registro']"> ¡Registrate acá!</a></h1>
        <div id="redes">
          <ion-icon name="logo-twitter" size="large" id="twitter"></ion-icon>
          <ion-icon name="logo-facebook" size="large" id="fb"></ion-icon>
          <ion-icon name="logo-instagram" size="large" id="instagram"></ion-icon>
        </div>
        <h1 id="derechos">© Tarjeta JuventuDES - Instituto de la Juventud del estado de Chiapas</h1>
      </form>

      <ion-img src="../assets/Poligonos.png" id="poligonos"></ion-img>
    </div>
  </div>


</ion-content>
