#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#logoPrincipal {
  width: 206px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 23px;
}

#texto1 {
  width: 115px;
  height: 14px;
  margin-left: 16px;
  margin-top: 30px;
  
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 14px;
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
}

#texto2 {
  width: 222px;
  height: 19px;
  margin-left: 16px;
  margin-top: -6px;
  
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
}

#textoCorreo {
  width: 46px;
  height: 18px;
  margin-left: 16px;
  margin-top: 30px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;  
  color: #FFFFFF;
}

#inputEmail {
  box-sizing: border-box;
  height: 39px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: 239px;
  
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background-color: #212425;
  padding: 10px;
}
#inputPass {
  box-sizing: border-box;
  height: 39px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: 239px;
  
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background-color: #212425;
  padding: 10px;
}

#textoPass {
  width: 78px;
  height: 18px;
  margin-left: 16px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;  
  color: #FFFFFF;
}

#recuperar {
  width: 200px;
  height: 28px;
  margin-left: 16px;
  margin-top: 20px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

a{
  text-decoration: none;
}

button {
  width: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 45px;
  background: #BD2683;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20.1614px;
  line-height: 24px;
}

ion-content{
  --ion-background-color: #212425;
}

#sugerirCuenta {
  width: 223px;
  height: 16px;
  margin-left: 16px;
  margin-top: 30px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
}

#registrarse {
  color: #DF60AE;
  margin-left: 5px;
}

#redes {
  text-align: center;
  margin-top: 50px;
}

#twitter{
  padding: 10px;
}
#fb{
  padding: 10px;
}
#instagram{
  padding: 10px;
}

#derechos {
  top: 79.62%;
  bottom: 19.43%;
  text-align: center;
  
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 500;
  font-size: 8px;
  line-height: 8px;
  
  color: #F0F0F0;
}

.centrar-campos {
  width: 100%;
}