<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div id="fondo">
    <ion-img src="../assets/Logo1.png" id="logoPrincipal"></ion-img>

    <div>
      <ion-icon name="arrow-back-circle-outline" id="retroceder"></ion-icon>
      <h2 id="texto1">Registro de cuenta</h2>
      <h1 id="texto2">Para finalizar</h1>
  
      <form action="">
        <h1 id="textoNombre">Seleccionar categoria</h1>
        <div id="contenedor-select">
          <select name="categorias" id="elselect" >
            <option value="valor 1" class="opcion">valor 1</option>
            <option value="valor 2" class="opcion">valor 2</option>
          </select>
        </div>
        <div id="botonContador">
          <h2 id="contadorPasos">5/5</h2>
          <button [routerLink] = "['/registro5']">Registrar</button>
        </div>


        <h1 id="sugerirCuenta">¿Ya tienes cuenta? <a href="" id="registrarse" [routerLink] = "['/home']">Inicia sesión</a></h1>
        <div id="redes">
          <ion-icon name="logo-twitter" size="large" id="twitter"></ion-icon>
          <ion-icon name="logo-facebook" size="large" id="fb"></ion-icon>
          <ion-icon name="logo-instagram" size="large" id="instagram"></ion-icon>
        </div>
        <h1 id="derechos">© Tarjeta JuventuDES - Instituto de la Juventud del estado de Chiapas</h1>
      </form>

      <ion-img src="../assets/Poligonos.png" id="poligonos"></ion-img>
    </div>
  </div>


</ion-content>
